# Виртуальные окружения
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Poetry
poetry.lock
pyproject.toml

# IDE
.idea/
.vscode/

# Системные файлы
.DS_Store

# Тесты / кэш
.pytest_cache/
.mypy_cache/